<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Schoology</title>
    <meta name="description" content="T&#173;he n&#173;ew hi&#173;ghly inno&#173;vati&#173;ve pro&#173;xy of Ti&#173;tan&#173;ium Net&#173;work usin&#173;g technol&#173;ogies suc&#173;h as se&#173;rvice worke&#173;rs an&#173;d s&#173;ophist&#173;icated r&#173;ewri&#173;ting&#173; tec&#173;hniq&#173;ues wit&#173;h CAP&#173;TCH&#173;A su&#173;ppo&#173;rt. Ul&#173;trav&#173;iol&#173;et focus&#173;es on sp&#173;eed wi&#173;th Yo&#173;uT&#173;ube, no&#173;w.gg, Spo&#173;tif&#173;y, Cool&#173;M&#173;athG&#173;ames and vari&#173;ous .io sit&#173;es!"
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        
        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">schoology</h1>
            
            
            <div id="pr-form">
                <input type="text" id="pr-url" spellcheck="false" autocomplete="off" placeholder="Search or enter in a target site!">
                <a href="#" id="pr-go1" class="pr-button glowbutton">use the other one</a>
                <a href="#" id="pr-go2" class="pr-button glowbutton">Stea&#173;lth</a>
            </div>
            <h3>More Information:</h3>
            <div class="font3">
                <p class="accented">

                </p>
                <p class="accented">
                  
                </p>
                
            </div>
        </div>
    </div>
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/links.js"></script>
    <script src="assets/js/prset.js"></script>
    <script>
        prSet("ultraviolet");
    </script>
    <script src="uv.bundle.js"></script>
    <script src="uv.config.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.navigator.serviceWorker.register('/sw.js', {
                scope: __uv$config.prefix,
            });
        };
    </script>
    
   
</body>

</html>